body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #dcdcdc;
}

@media screen and (min-width: 360px) {
  a {
    text-decoration: none;
  }

  .image-section {
    display: none;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .sidenav .nav-item {
    padding: 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
    width: 30%;
    display: flex;
    justify-content: center;
    position: relative;
    transition: color 0.4s ease-out;
    margin: 0 auto;
  }

  .sidenav a:hover {
    color: #ff7f50;
    right: 0;
    text-decoration: underline;
  }

  .sidenav a:active {
    color: #ff7f50;
    right: 0;
    text-decoration: underline;
    padding: 8px 8px;
    font-size: 25px;
    width: 30%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    text-decoration: none;
    color: #818181;
  }

  .nav-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
  }

  .top-section {
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }

  .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
  }

  .content-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }

  .content-block {
    display: flex;
    border: 1px solid lightgrey;
    background: #ffffff;
    border-radius: 5px;
    padding: 7px;
  }

  .image-section-content img {
    border: 5px double lightgray;
    border-radius: 50%;
    padding: 9px;
  }

  .block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
  }

  .image-section-content {
    margin: 10px;
  }

  p {
    text-align: end;
  }
}

@media screen and (min-width: 700px) {
  .nav-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #ffffff;
    padding: 10px;
  }

  span#burger {
    display: none;
  }

  .top-section,
  .bottom-section {
    width: 50%;
    border-bottom: none;
    display: flex;
    justify-content: space-around;
  }

  .image-section {
    align-items: center;
    display: flex;
  }

  img {
    border: 5px double lightgray;
    border-radius: 50%;
    padding: 9px;
  }

  span {
    margin-left: 10px;
  }

  .content-wrap {
    max-width: 500px;
    margin: 0 auto;
  }
}

/* Drop Down Styles
================================ */
nav .drop-down {
  list-style: none;
  overflow: hidden;
  height: 172px;
  font-family: Arial;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  transition: height 0.3s ease;
}

nav .drop-down.closed {
  height: 43px;
}

nav .drop-down li a {
  display: block;
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px;
  position: relative;
}

nav .drop-down li:first-child a:after {
  content: "\25BC";
  margin-left: -30px;
  margin-right: 5px;
  color: #000000;
  font-size: 12px;
  position: absolute;
  top: 30%;
  right: 5%;
}

/* Modal Styles
================================ */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
